@import 'mastodon/mixins';
@import 'mastodon/variables';
@import 'fonts/roboto';
@import 'fonts/roboto-mono';
@import 'fonts/montserrat';

@import 'mastodon/reset';
@import 'mastodon/basics';
@import 'mastodon/containers';
@import 'mastodon/lists';
@import 'mastodon/footer';
@import 'mastodon/compact_header';
@import 'mastodon/landing_strip';
@import 'mastodon/forms';
@import 'mastodon/accounts';
@import 'mastodon/stream_entries';
@import 'mastodon/boost';
@import 'mastodon/components';
@import 'mastodon/modal';
@import 'mastodon/emoji_picker';
@import 'mastodon/about';
@import 'mastodon/tables';
@import 'mastodon/admin';
@import 'mastodon/rtl';

$witches-primary: #A288BD;
$witches-light: lighten($witches-primary, 15%);
$witches-lighter: lighten($witches-primary, 30%);
$witches-dark: darken($witches-primary, 15%);
$witches-darker: darken($witches-primary, 30%);

$witches-background: #383144;
$witches-background-light: #3e3e54;
$witches-background-lighter: #4d455f;
$witches-background-dark: #2b2b35;
$witches-background-darker: #1d1a23;

div.column {
  flex-grow: 1;
}

.button,
.privacy-dropdown__option:hover,
.privacy-dropdown__option.active,
.loading-bar,
.react-toggle-track
.react-toggle--checked .react-toggle-track,
.react-toggle--checked .react-toggle-thumb,
{
  background-color: $witches-primary;
}

.button:hover,
.button:active,
.button:focus,
.status__content .status__content__spoiler-link:hover,
.reply-indicator__content .status__content__spoiler-link:hover {
  background-color: $witches-dark;
}

.status__content a,
.notification__message .fa,
.icon-button.active,
.account__header .account__header__username,
.column-back-button,
.column-header.active .fa,
.column-header__back-button,
.text-icon-button.active,
.icon-button.inverted.active,
.dropdown--active .icon-button,
.card .name small,
.status.light .status__content a,
.activity-stream .status.light .status__content a,
.tabs-bar__link.active
{
  color: $witches-primary;
}

.star-icon.active {
  color: #ca8f04;
}

.status__content .status__content__spoiler-link,
.reply-indicator__content .status__content__spoiler-link {
  color: #fff;
  text-shadow: #000 0 0 2px;
  background-color: $witches-primary;
}

.muted a.status__content__spoiler-link {
  text-shadow: none;
}

.reply-indicator {
  background-color: $witches-light;
}

.column-header.active {
  box-shadow: 0 1px 0 rgba($witches-primary, 0.3);
}

.column-header.active .fa {
  text-shadow: 0 0 10px rgba($witches-primary, 0.4);
}

.status-list__unread-indicator, 
.notifications__unread-indicator,
.column-header__wrapper.active::before 
{
  background: radial-gradient(ellipse, rgba($witches-primary, 0.23) 0%, rgba($witches-primary, 0) 60%);
}

.admin-wrapper .sidebar ul ul a.selected {
  background-color: $witches-primary;
  text-shadow: #000 0 0 2px;
}

.dropdown--active .dropdown__content > ul,
.dropdown--active .dropdown__content > ul > li > a {
  background-color: $witches-lighter;
}

.dropdown--active .dropdown__content > ul > li > a:hover {
  background-color: $witches-primary;
  color: $witches-lighter;
}

.card .counter.active::after,
.tabs-bar__link.active
{
  border-bottom-color: $witches-primary;
}

.column > .scrollable,
.search__input
{
  background-color: $witches-background-dark;
}

.column-header,
.column-icon,
.collapsable-collapsed,
.drawer__header a:hover,
.column-header__back-button,
.column-header__button
{
  background-color: $witches-background;
}

.collapsable,
.column-settings--outer,
.drawer__header,
.column-link,
.column-header__button.active,
.column-header__button.active:hover,
.column-header__collapsible > div
{
  background-color: $witches-background-light;
}

.drawer__inner,
.column-link:hover
{
  background-color: $witches-background-lighter;
}

@font-face {
  font-family: 'witchesAwesome';
  src:  url('/witchesAwesome/witchesAwesome.eot?c15');
  src:  url('/witchesAwesome/witchesAwesome.eot?c15#iefix') format('embedded-opentype'),
    url('/witchesAwesome/witchesAwesome.ttf?c15') format('truetype'),
    url('/witchesAwesome/witchesAwesome.woff?c15') format('woff'),
    url('/witchesAwesome/witchesAwesome.svg?c15#witchesAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  font-family: witchesAwesome, FontAwesome;
}

.detailed-status__link .fa-star {
  font-size: 11px;
}

.detailed-status__link .fa-retweet {
  font-size: 12px;
}
