@font-face {
  font-family: 'witchesAwesome';
  src:  url('fonts/witchesAwesome.eot?cmmud9');
  src:  url('fonts/witchesAwesome.eot?cmmud9#iefix') format('embedded-opentype'),
    url('fonts/witchesAwesome.ttf?cmmud9') format('truetype'),
    url('fonts/witchesAwesome.woff?cmmud9') format('woff'),
    url('fonts/witchesAwesome.svg?cmmud9#witchesAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wa-"], [class*=" wa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'witchesAwesome' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wa-pentagram:before {
  content: "\f005";
}

